@use '../../App/main.scss' as m;

.canvas {
  padding: 25px;
  margin: 20px;

  padding-inline: 20px;
  width: calc(50% - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;

  overflow: hidden;
}

.canvas__container {
  display: flex;
  position: relative;
  // height: 100%;
  justify-content: center;
  align-items: center;
}

.canvas__img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  height: min-content;
  -webkit-user-drag: none;
}