@use '../../index.scss' as m;

.template-menu {
  position: absolute;
  padding: 20px;
  padding-top: 0;
  width: 90%;
  height: calc(95% - 55px);
  top: 5%;
  left: 5%;
  z-index: 1;
  margin-block: auto;
  background-color: m.$ThirdColor;
  color: m.$SecondaryColor;
  border-radius: 5px;
  overflow-y: scroll;

  @media (min-width: 600px) {
    height: 80%;
  }

  @media (min-width: 768px) {
    width: 80%;
    left: 10%;
  }

  @media (min-width: 1024px) {
    height: calc(95% - 100px);
  }

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background: m.$ThirdColor;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: m.$SecondaryColor;
    box-shadow: inset 0 0 1px 1px #646464;
  }
}

.template-menu__header {
  padding: 15px;
  background-color: m.$ThirdColor;
  z-index: 1;
  height: 50px;
  position: fixed;
  width: calc(90% - 10px);
  left: 5%;

  @media (min-width: 420px) {
    height: 60px;
  }

  @media (min-width: 768px) {
    left: 10%;
    width: calc(80% - 10px);
  }
}

.template-menu__title {
  margin: 0;
  text-align: center;
  font-size: 22px;

  @media (min-width: 420px) {
    font-size: 26px;
  }

  @media (min-width: 600px) {
    font-size: 30px;
  }
}

.template-menu__close-menu {
  font-size: 25px;
  width: 29px;
  height: 29px;
  padding: 0;
  margin: 0;
  border: 0;
  position: absolute;
  top: 12px;
  right: 5px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease-out;
  font-family: sans-serif;
  background-color: m.$SecondaryColor;

  @media (min-width: 420px) {
    font-size: 30px;
    width: 35px;
    height: 35px;
    top: 10px;
  }

  @media (min-width: 600px) {
    top: 13px;
  }

  &:hover {
    background-color: m.$ThirdColor;
    color: m.$SecondaryColor;
  }
}

.template-menu__meme-container {
  margin-top: 60px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 20px;
  row-gap: 30px;

  @media (min-width: 420px) {
    margin-top: 80px;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 600px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.template-menu__meme {
  background-color: darken(m.$ThirdColor, 1.5%);
  padding: 15px 10px;
  width: 100%;
  max-height: calc(95vh - 140px);
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease-out;
  border-radius: 5px;

  @media (min-width: 600px) {
    max-height: calc(95vh - 200px);
  }

  &:hover {
    background-color: lighten(m.$ThirdColor, 10%);
    box-shadow: 6px 6px 6px 0 darken(m.$ThirdColor, 5%);
    transform: scale(1.05);
  }
}

.template-menu__caption {
  display: block;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.template-menu__img {
  max-width: 100%;
  max-height: calc(100% - 37px - 15px * 2 - 15px - 10px - 50px);
  margin-bottom: 15px;
}

.template-menu__choose-meme-btn {
  width: 80%;
  font-size: 15px;
}

.template-menu__loading {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 40px);
  z-index: 1;

  .lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }

  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }

  .lds-roller div:after {
    content: ' ';
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: m.$SecondaryColor;
    margin: -4px 0 0 -4px;
  }

  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }

  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }

  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }

  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }

  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }

  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }

  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }

  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }

  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }

  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }

  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }

  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }

  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }

  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }

  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }

  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }

  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}
