@use './main.scss' as m;

*,
*:after,
*:before {
  box-sizing: border-box;
}

*::selection {
  color: m.$SecondaryColor;
  background-color: m.$MainColor;
}

#root {
  font-family: m.$FontFamily;
  color: m.$ThirdColor;
  background-color: m.$SecondaryColor;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}