@use '../../../App/main.scss' as m;

.drop-down-menu__color {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;


  label {
    cursor: pointer;
    display: inline-block;
    min-width: 110px;
    margin-right: 10px;
  }


}

.drop-down-menu__color-input {
  cursor: pointer;
  border: 1px solid m.$ThirdColor;
}