.meme-container {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);

  padding: 15px 10px 10px;
  display: flex;
  flex-direction: column;
}

.meme-wrapper {
  flex-basis: calc(100% - 115px);

  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;

  @media (min-width: 450px) {
    flex-basis: calc(100% - 125px);
  }

  @media (min-width: 600px) {
    flex-basis: calc(100% - 75px);

  }

  @media (min-width: 900px) {
    flex-basis: calc(100% - 85px);

  }
}

#rendered-meme {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  -webkit-user-drag: none;
}