@use '../../App/main.scss' as m;

.tools {
  border-radius: 10px;
  background-color: m.$MainColor;
  padding: 30px;
  width: calc(50% - 60px);
  max-width: 500px;
  color: m.$SecondaryColor;
  box-shadow: 5px 5px 20px 0 darken(m.$MainColor, 30%);
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.tools__title {
  font-size: 32px;
  padding: 0 0 8px;
  margin: 0 0 30px;
  text-align: center;
  border-bottom: 1px solid m.$SecondaryColor;
}

.tools__main-buttons {
  width: 100%;
  gap: 20px;
  display: flex;
  margin-bottom: 30px;
}

.btn-text {
  flex: 1 1 50%;

  &::before {
    background-image: url('../../../icons/text.png');
  }
}

.btn-template {
  flex: 1 1 50%;
}

.btn-generate {
  display: block;
  margin: auto auto 0;
  font-weight: 1000;
  font-size: 18px;
  color: darken(m.$MainColor, 30%);
  background-color: m.$SecondaryColor;
}