.footer {
  width: 100%;
  padding: 24px 36px;
}
.footer__container {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__item {
  flex-basis: 200px;
  flex-grow: 1;
  text-align: center;
}
.footer__name {
  font-size: 22px;
  font-style: italic;
  
}
.footer__year {
  font-weight: 800;
  font-size: 40px;
  font-style: italic;
  text-align: left;
}
.footer__links {
  text-align: right;
}
.footer_link-img{
  height: 48px;
  padding: 0 8px;
}