@use '../main.scss' as m;

.template-menu {
  position: absolute;
  padding: 20px;
  padding-top: 0;
  width: 80%;
  height: 80%;
  top: 5%;
  left: 10%;
  z-index: 1;
  margin-block: auto;
  background-color: m.$ThirdColor;
  color: m.$SecondaryColor;
  border-radius: 5px;
  overflow-y: scroll;
  
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background: m.$ThirdColor;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: m.$SecondaryColor;
    box-shadow: inset 0 0 1px 1px #646464;
  }
}

.template-menu__header {
  padding: 15px;
  background-color: m.$ThirdColor;
  z-index: 1;
  height: 60px;
  width: calc(80% - 40px);
  position: fixed;
}

.template-menu__title {
  margin: 0;
  text-align: center;
  font-size: 30px;
}

.template-menu__close-menu {
  font-size: 30px;
  padding: 0;
  margin: 0;
  border: 0;
  width: 35px;
  height: 35px;
  position: absolute;
  top: 13px;
  right: 0;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease-out;
  &:hover {
    background-color: m.$ThirdColor;
    color: m.$SecondaryColor;
  }
}

.template-menu__meme-container {
  margin-top: 80px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 30px
}

.template-menu__meme {
  background-color: darken(m.$ThirdColor, 1.5%);
  padding: 15px 10px;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-out;
  border-radius: 5px;
  &:hover {
    background-color: lighten(m.$ThirdColor, 10%);
    transform: scale(1.05);
  }
}

.template-menu__caption {
  display: block;
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
}

.template-menu__img {
  width: 100%;
  margin-bottom: 15px;
}

.template-menu__choose-meme-btn {
  width: 80%;
  font-size: 15px;
}
