$Blue: #4285F4;
$White: #FFFFFF;
$Gray: #525252;

.btn--primary {
  background-color: $Blue;
  color: $White;
  border: none;
  transition: background-color 0.5s ease-out;
  cursor: pointer;
  &:hover {
    background-color: lighten($Blue, 15%);
  }
  font-weight: 600;
}
.btn--secondary {
  background-color: $Gray;
  color: $White;
  border: none;
  transition: background-color 0.2s ease-out;
  cursor: pointer;
  &:hover {
    background-color: lighten($Gray, 15%);
  }
  font-weight: 600;
}
.btn--option {
  color: darken($Blue, 30%);
  cursor: pointer;
  font-weight: bold;
  background-color: $White;
  border: none;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  &::before {
    position: absolute;
    left: 5px;
    display: inline-block;
    width: 32px;
    height: 32px;
    content: '';
    background-image: url('../icons/template.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.btn--large {
  width: 250px;
  height: 50px;
  border-radius: 3px;
}
.btn--medium {
  border-radius: 3px;
  padding: 5px;
  height: 50px;
  width: 200px;
  line-height: 40px;
  padding-left: 32px;
}
.btn--small {
  width: 150px;
  border-radius: 3px;
  padding: 5px;
  padding-block: 10px;
}