@use '../main.scss' as m;

.canvas__text-box {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 300px;

  font-size: 32px;
  color: m.$SecondaryColor;
  // text-shadow: black -1px 0px, black 0px 1px, black 1px 0px, black 0px -1px;

  &:hover .canvas__editable-text,
  .canvas__editable-text:focus {
    margin: -1px;
    width: calc(100% + 2px);
    outline: none;
    border: 1px solid m.$ThirdColor;
    outline: 1px solid m.$SecondaryColor;
  }
}
.canvas__editable-text {
  white-space: break-spaces;
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  &:focus {
    outline: none;
  }
}