@use '../../../index.scss' as m;

.drop-down-menu__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  justify-content: center;

  label {
    margin-bottom: 10px;
  }
}

.drop-down-menu__buttons-btns {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.drop-down-menu__buttons-btn {
  background-color: darken(m.$SecondaryColor, 10%);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 5px;

  @media (min-width: 450px) {
    margin-top: 5px;
    padding: 6px;
  }

  &.active {
    box-shadow: inset 0 1px 3px 0 rgb(0 0 0 / 40%);
  }
}

.drop-down-menu__buttons-icon {
  height: 18px;

  @media (min-width: 450px) {
    height: 20px;
  }
}